// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

// Font Variables
:root {
  --font-big-shoulders: "Big Shoulders Display", cursive;
  --font-lexend: "Lexend Deca", sans-serif;

  --f-text: var(--font-lexend);
  --f-headings: var(--font-big-shoulders);
}
