@use "../abstracts/mixins" as *;
/* @link https://utopia.fyi/type/calculator?c=375,15,1.125,1440,16,1.2,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step-0: clamp(0.94rem, 0.92rem + 0.09vw, 1.00rem);
  --step-1: clamp(1.06rem, 1.00rem + 0.22vw, 1.20rem);
  --step-2: clamp(1.19rem, 1.10rem + 0.38vw, 1.44rem);
  --step-3: clamp(1.34rem, 1.20rem + 0.59vw, 1.73rem);
  --step-4: clamp(1.50rem, 1.30rem + 0.86vw, 2.07rem);
  --step-5: clamp(1.69rem, 1.41rem + 1.20vw, 2.49rem);
}

body {
  font-size: var(--step-0);
  font-family: var(--font-lexend);	
  color: var(--c-paragraphs);
}
